.draw {
    width: 10vh;
    /* margin-top: 1vh; */
}

.draw :hover {
    cursor: pointer;

}

.drawerbody {
    display: flex;
    flex-direction: column;

}



.drawerbody-button {

    border: unset;

    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.drawerbody-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-image: linear-gradient(to right, black, teal);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.drawerbody-button:hover {
    color: #e8e8e8;
}

.drawerbody-button:hover::before {
    width: 100%;
}